<!--Questo file html contiene la struttura della pagina da cui si creano le survey-->
<h2 class="md-diplay-1" layout-padding>Create new Survey</h2>
<div layout="column" layout-padding>
    <div layout="column"> <!--Qui vengono richieste le informazioni di base( nome survey e descrizione)-->
        <md-input-container>
            <label>Survey Name</label>
            <input name="answer" ng-model="NewSurvey.surveyName" required>
        </md-input-container>
        <md-input-container>
            <label>Description</label>
            <input name="description" ng-model="NewSurvey.description" required>
        </md-input-container>
    </div>
    <div layout="row">
        <md-button class="md-raised font-size-button" ng-click="NewSurvey.newQuestionButtonFlag = false" ng-show="NewSurvey.newQuestionButtonFlag">
            Add a question
        </md-button>
    </div>
                                                                        <!--Da qua si aggiungono le domande-->
    <div layout="row" ng-hide="NewSurvey.newQuestionButtonFlag">
        <md-input-container>
            <label>Question</label>
            <input name="Question" ng-model="NewSurvey.newQuestion">
        </md-input-container>
        <div layout="column">
            <md-button class="md-raised font-size-button" ng-click="NewSurvey.addQuestion()">Add</md-button>
        </div>

    </div>
    <b layout-padding>Questions list:</b>
    <md-content layout="row" layout-wrap>
        <div ng-repeat="que in NewSurvey.questions">
            <md-card layout="column" layout-padding>
                <div class="md-title">Question {{$index + 1}}: {{que}}</div>
                <div layout="row" layout-align="center center">
                    <md-button class="md-raised font-size-button" ng-click="NewSurvey.deleteQuestion($index)">Delete</md-button> <!--Qui viene prodotta la lista delle domande aggiunte, all'occorrenza si possono eliminare-->
                </div>

            </md-card>
        </div>
    </md-content>


</div>
<div layout="column" layout-align="start center" layout-padding>
    <div style="color:red">{{NewSurvey.message}}</div>
    <div layout="row">
        <md-button class="md-raised font-size-button" goto="/surveys">Cancel</md-button>
        <md-button class="md-raised font-size-button" ng-click="NewSurvey.confirm()">Confirm</md-button> <!--Qua ci sono i bottoni con la quale è possibile confermare o no la survey appena creata-->
    </div>

</div>
