<!--In questo file html è contenuta la struttura della pagina Manage Surveys-->
<h2 class="md-display-1" layout-padding>Manage Surveys</h2>
<div layout="column" ng-hide="Surveys.showResult || Surveys.showQuestion" layout-padding>
    <div layout="row" layout-align="start center">
        <md-button class="md-raised" goto="/newSurvey"> <!--Premendo questo bottone si passa alla pagina da cui si creano le nuove survey-->
            New Survey
        </md-button>
    </div>

    <div class="md-title" layout-padding>Surveys list:</div> <!--Qua c'è la lista delle survey-->
    <div layout="row" layout-wrap>
        <md-card ng-repeat="surv in Surveys.surveys | orderBy: 'surv_name'" layout="column" layout-padding> <!--la direttiva ng-reapeat permette di far comparire più volte il div in cui è inserita, tante volte tanto quanti sono gli elementi contenuti nell'array tra parentesi-->
            <b>{{surv.surv_name}}</b>  <!--In questo caso l'array tra parentesi è Surveys.surveys, gli elementi dell'array saranno reperibili come surv-->
            <div layout="row">
                <div layout="column">
                    <md-button class="md-raised font-size-button" ng-click="Surveys.deleteSurvey(surv.ID,$event)"> <!--con questo bottone è possibile cancellare la survey selezionata-->
                        Delete
                    </md-button>
                    <md-button class="md-raised font-size-button" ng-click="Surveys.assignUsers($event,surv.ID)"> <!--Questo bottone avvia il dialog che permette di assegnare gli utenti alla survey selezionata-->
                        Assign Users
                    </md-button>
                </div>

                <div layout="column">
                    <md-button class="md-raised font-size-button" ng-click="Surveys.showQuestions(surv)"> <!--Premendo questo bottone è possibile vedere le domande contenute nella survey-->
                        Show Questions
                    </md-button>
                    <md-button class="md-raised font-size-button" ng-click="Surveys.showResults(surv)"> <!--Premendo questo bottone è possibile vedere tutte le risposte al sondaggio-->
                        Show Results
                    </md-button>
                </div>
            </div>


        </md-card>
    </div>

</div>
<div ng-show="Surveys.showResult" layout="column" layout-padding> <!--Questa è la parte che compare quando si vogliono vedere i risultati delle survey, sparisce la lista delle survey e compare questa parte-->
    <div layout="row" layout-align="start center">
        <md-button class="md-raised font-size-button" ng-click="Surveys.showResult = false">Back</md-button>
    </div>

    <div class="md-headline">Results of: <b font-size="24px">{{Surveys.selectedSurvName}}</b></div>
    <div layout="row" layout-wrap>
        <md-card layout="column" ng-repeat="ans in Surveys.selectedAnswers | orderBy:'date'" layout-padding>
            <div>User: {{ans.username}}</div>
            <div>Place: {{ans.place}}</div>
            <div>Date: {{ans.date}}</div>
            <div layout="row">
                <md-button class="md-raised font-size-button" ng-click="Surveys.showThisResult(ans)">Show</md-button>
                <md-button class="md-raised font-size-button" ng-click="Surveys.deleteThisResult(ans.ID,$event)">Delete</md-button>
            </div>
        </md-card>
    </div>
    <md-card layout="column" ng-show="Surveys.showAnswerForm" layout-padding>

        <div>User: {{Surveys.thisResult.username}}</div>
        <div>Description: {{Surveys.thisResult.description}}</div>
        <div>Place: {{Surveys.thisResult.place}}</div>
        <div>Date: {{Surveys.thisResult.date}}</div>
        <div>Questions/answers:</div>
        <div layout="column" ng-repeat="q in Surveys.thisResultSurvey.questions">
            <div layout="row">Question {{$index+1}}: {{q}}</div>
            <div>Answer {{$index + 1}}: {{Surveys.thisResult.answers[$index]}}</div>
        </div>

    </md-card>
</div>

<div ng-show="Surveys.showQuestion" layout="column" layout-padding> <!--Questa è la parte che compare quando si vogliono le domande contenute nella survey, sparisce la lista delle survey e compare questa parte-->

    <div layout="row" layout-align="start center">
        <md-button class="md-raised font-size-button" ng-click="Surveys.showQuestion = false">Back</md-button>
    </div>

    <div class="md-headline">Questions of: <b style="font-size:24px">{{Surveys.questionsView.surv_name}}</b></div>
    <div class="md-subhead">Description: <b style="font-size:16px">{{Surveys.questionsView.decription}}</b></div>



    <div layout="row" layout-wrap>
        <md-card ng-repeat="q in Surveys.questionsView.questions" layout="row" layout-padding>
            <div>Question {{$index + 1}}: {{q}}</div>
        </md-card>
    </div>

</div>