<h2 class="md-display-1" layout-padding>Surveys</h2>
<div layout="column" ng-hide="Surveys.showResult || Surveys.showQuestion" layout-padding>
    <div layout="row" layout-align="start center">
        <md-button class="md-raised" goto="/newSurvey">
            New Survey
        </md-button>
    </div>

    <div layout="row" layout-wrap>
        <md-card ng-repeat="surv in Surveys.surveys" layout="column" layout-padding>
            <b>{{surv.surv_name}}</b>
            <div layout="row">
                <div layout="column">
                    <md-button class="md-raised font-size-button" ng-click="Surveys.deleteSurvey(surv.ID,surv_name,$event)">
                        Delete
                    </md-button>
                    <md-button class="md-raised font-size-button" ng-click="Surveys.assignUsers($event,surv_name)">
                        Assign Users
                    </md-button>
                </div>

                <div layout="column">
                    <md-button class="md-raised font-size-button" ng-click="Surveys.showQuestions(surv)">
                        Show Questions
                    </md-button>
                    <md-button class="md-raised font-size-button" ng-click="Surveys.showResults(surv)">
                        Show Results
                    </md-button>
                </div>
            </div>


        </md-card>
    </div>

</div>
<div ng-show="Surveys.showResult" layout="column" layout-padding>
    <div layout="row" layout-align="start center">
        <md-button class="md-raised font-size-button" ng-click="Surveys.showResult = false">Back</md-button>
    </div>

    <div class="md-headline">Results of: <b font-size="24px">{{Surveys.selectedSurvName}}</b></div>
    <div layout="row" layout-wrap>
        <md-card layout="column" ng-repeat="ans in Surveys.selectedAnswers" layout-padding>
            <div>User: {{ans.object.user}}</div>
            <div>Place: {{ans.object.place}}</div>
            <div>Date: {{ans.object.date}}</div>
            <div layout="row">
                <md-button class="md-raised font-size-button" ng-click="Surveys.showThisResult(ans.object)">Show</md-button>
                <md-button class="md-raised font-size-button" ng-click="Surveys.deleteThisResult(ans.ID,$event)">Delete</md-button>
            </div>
        </md-card>
    </div>
    <md-card layout="column" ng-show="Surveys.showAnswerForm" layout-padding>

        <div>User: {{Surveys.thisResult.user}}</div>
        <div> Description: {{Surveys.thisResult.description}}</div>
        <div>Place: {{Surveys.thisResult.place}}</div>
        <div>Date: {{Surveys.thisResult.date}}</div>
        <div>Questions/answers:</div>
        <div layout="column" ng-repeat="q in Surveys.thisResult.questions">
            <div layout="row">Question {{$index+1}}: {{q}}</div>
            <div>Answer {{$index + 1}}: {{Surveys.thisResult.answers[$index]}}</div>
        </div>

    </md-card>
</div>

<div ng-show="Surveys.showQuestion" layout="column" layout-padding>

    <div layout="row" layout-align="start center">
        <md-button class="md-raised font-size-button" ng-click="Surveys.showQuestion = false">Back</md-button>
    </div>

    <div class="md-headline">Questions of: <b style="font-size:24px">{{Surveys.questionsView.name}}</b></div>



    <md-card ng-repeat="q in Surveys.questionsView.questions" layout="row" layout-padding>
        <div>Question {{$index + 1}}: {{q}}</div>
    </md-card>
</div>